@import '../../assets/style.less';
@import '../Student/Student.less';

.missingInfoRectangle{
    /* Style for how to display text explaining no badges for current student */
    width: 300px;
    height: 45px;
    padding: 5px;
    border: 1px solid #colors[secondary] ;
    color: #colors[text-primary]; //text color
    border-radius: 15px;
    margin: auto; /* Center horizontally and vertically */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
}

.details-modal{
    height: 60%;
}

//bypass reactmodal overlay
.ReactModal__Overlay {
    z-index: 01;
  }

.details-container{
    /*.activity-container;*/
    //position: absolute;
    top: 8em;
    left: 10vw;
    display: flex;
    //margin: 4em auto 0 auto;
    //width: 80vw;
    //background-color: #colors[tertiary];
    border-radius: 25px;
    border: 5px solid #colors[primary];

    position: 'relative';
    margin: 20%;
    width: 60%;
    height: 100%;
    background-color: #colors[tertiary];
}
    .main-info{
        height: 100%;
        width: 50%;
        flex:1;
    }

        .big-badge-image{
            display: block;
            max-height: 40%;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: auto;
            border: 4.5px solid #colors[primary];
            border-radius: 15px;
        }

        .badge-description{
            text-align: center;
            max-width: 80%;
            max-height: 15%; 
            margin: auto;
            outline: #colors[primary];
            border: 1.5px dotted #colors[primary];
            margin-top: 15px;
            margin-bottom: 15px;
            border-radius: 15px;
            overflow-y: scroll;
        }

        .earned-percent-container {
            width: 80%;
            height: 30px;
            border: 3px solid #colors[primary];
            border-radius: 15px;
            margin: auto;
            //overflow: hidden;
        }
            .earned-percent-bar {
                border-radius: 15px;
                color: #colors[tertiary];
                background-color: #colors[secondary];
                height: '100%';
                text-align: right;
                line-height: '30px';
            }

        .earned-percent-message {
            max-width: 80%;
            margin: auto;
            margin-left: 10%;
            text-align: center;
            font-size: x-small;
            line-height: 30px;
            color: #colors[text-primary];
            white-space: nowrap;
        }

        .close-button{
            position: relative;
            top: -20px;
            right: -20px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: #colors[tertiary];
            border: 4px solid #colors[primary];
            font-size: 1.65em;
            font-weight: bold;
            text-align:center;
        }
        .close-button:hover{
            background-color: #colors[primary];
            outline-width: 2px;
            outline-color: #colors[primary];
            outline-style: solid;
        }

    .teacher-info{
        height: 100%;
        width: 50%;
        position: relative;
        margin-right: 0;
        flex:1;
    }
        .change-buttons{
            width: 80%;
            max-height: 15%;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 10%;
            display:flex;
        }
            .save-button{
                margin-left: 20%;
                margin-right: 20%;
                width: fit-content;
                flex:1;
                font-size:xx-large;
                line-height: 38px;
                background-color: #colors[tertiary];
                border: 3px solid #colors[primary];
                border-radius: 4.5px;
            }
            .save-button:hover{
                border: 3px solid #colors[secondary];
            }
            .delete-button{
                margin-right: 20%;
                margin-left: auto;
                width: fit-content;
                flex:1;
                font-size:xx-large;
                line-height: 38px;
                background-color: #colors[negative];
                border: 3px solid #colors[dark-negative];
                border-radius: 4.5px;
            }
            .delete-button:hover{
                background-color: #colors[dark-negative];
            }

        .student-table{
            border: 4.5px solid #colors[primary];
            border-radius: 15px;
            border-collapse: collapse;
            width: 80%;
            max-height: 55%;
            margin: auto;
            margin-top: 20%;
            overflow-y: scroll;
        }
            .student-row{
                border: 0.5px solid #colors[primary];
                border-collapse: collapse;
                height: 30px;
            }
                .student-name{
                    padding-left: 6px;
                    width:100%;
                    height: 30px;
                    line-height: 30px;
                    margin:auto
                }

                .checked-box {
                    height: 20px;
                    width: 20px;
                    background-color: #colors[positive];
                    border: 3px solid #colors[dark-positive];
                    margin-right: 5px;
                }
                .checked-box:hover {
                    background-color: #colors[dark-positive];
                }
                .unchecked-box {
                    margin: auto;
                    height:20px;
                    width: 20px;
                    background-color: #colors[negative];
                    border: 3px solid #colors[dark-negative] ;
                    margin-right: 5px;
                }
                .unchecked-box:hover {
                    background-color: #colors[dark-negative];
                }
