@import "../../assets/style.less";

#navBar {
   display: flex;
  justify-content: space-between;
  align-items: center;
  left: 2vw;
  width: 96vw;
  position: -webkit-sticky;
  position: absolute;
  top: 1vh;
  
  z-index: 2;
  height: 4.8vh;
  background-color: #0f2b4e;
  border-radius: 10px;


  #link {
    #casmm-logo {
      position: absolute;
      left: 0;
      top: 0;
      height: 6vh;
      width: auto;
    }
  }
}

#menu-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  display: inline-block;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.ant-dropdown-link {
  color: #colors[tertiary];
  background: none !important;
  border: none;
  padding: 0 !important;
  font-size: 1.1em;


  &:focus {
    outline: none;
  }

  &:hover {
    color: #colors[secondary];
    cursor: pointer;
  }
}
